/* Sass variables */

$primary: #212121;
$secondary: #32db64;
$danger: #f53d3d;
$light: #f4f4f4;
$dark: #212121;

$cvn-primary-light: #3c5264;
$cvn-primary: #122a3a;
$cvn-primary-dark: #000015;

$cvn-accent-light: #6effe8;
$cvn-accent: #1de9b6;
$cvn-accent-dark: #00b686;

$cvn-gray: lighten($dark, 20%);

$cvn-divider: #BDBDBD;
$cvn-verify: #1CBFDB;
$cvn-tree: #3aad25;
