@charset 'utf-8';
/* https://sass-guidelin.es/ */
/* You can add global styles to this file, and also import other style files */

/* Contains animations */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';
@include mat-core();
/* Styles begins here */

@import url('./_variables.scss');
@import url('./_mixins.scss');

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');
$roboto: 'Roboto', sans-serif;


body {
  padding: 3em;
  font-family: $roboto;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $roboto;
  font-weight: 100;
}


