@import '~@angular/material/theming';
@include mat-core();


$landing-primary: mat-palette($mat-blue-grey, 900);
$landing-accent: mat-palette($mat-green);

$landing-theme: mat-light-theme($landing-primary, $landing-accent);

// https://github.com/angular/material2/blob/master/src/lib/core/theming/_all-theme.scss 
@include mat-form-field-theme($landing-theme);
@include mat-progress-bar-theme($landing-theme);
@include mat-button-theme($landing-theme);
@include mat-tabs-theme($landing-theme);