@import '~sass/_variables';

div {
    mat-card {
        margin-top: 2em;
        box-shadow: $cvn-primary-light 0px 3px 6px -1px;
        h1 {
            text-align: center;
            color: $cvn-primary;
        }
    }
}
