<div 
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-around "
    fxFlexAlign="start"
    fxFlexFill
    >
    <mat-card fxFlex="63.2" fxFlex.md="55" fxFlex.xs="75">
      <img mat-card-image src="https://s3.amazonaws.com/aws-website-faqapp-fh61g/Screen+Shot+2017-12-20+at+11.03.04+AM.png" alt="Logo">
      <mat-card-content>
        <h1>Hello world!</h1>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="31.6" fxFlex.md="35" fxFlex.xs="75">
        <img mat-card-image src="https://s3.amazonaws.com/aws-website-faqapp-fh61g/Screen+Shot+2017-12-20+at+11.03.04+AM.png" alt="Logo">
        <mat-card-content>
          <h1>Hello world!</h1>
        </mat-card-content>
      </mat-card>
</div>
<div 
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-around start"
    fxFlexAlign="start"
    fxFlexFill
    >
    <mat-card fxFlex="30.6" fxFlex.md="30" fxFlex.xs="75">
        <img mat-card-image src="https://s3.amazonaws.com/aws-website-faqapp-fh61g/Screen+Shot+2017-12-20+at+11.03.04+AM.png" alt="Logo">
        <mat-card-content>
          <h1>Hello world!</h1>
        </mat-card-content>
      </mat-card>
      <mat-card fxFlex="30.6" fxFlex.md="30" fxFlex.xs="75">
          <img mat-card-image src="https://s3.amazonaws.com/aws-website-faqapp-fh61g/Screen+Shot+2017-12-20+at+11.03.04+AM.png" alt="Logo">
          <mat-card-content>
            <h1>Hello world!</h1>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex="30.6" fxFlex.md="30" fxFlex.xs="75">
            <img mat-card-image src="https://s3.amazonaws.com/aws-website-faqapp-fh61g/Screen+Shot+2017-12-20+at+11.03.04+AM.png" alt="Logo">
            <mat-card-content>
              <h1>Hello world!</h1>
            </mat-card-content>
          </mat-card>
</div>
