<div 
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="center center"
    fxFlexAlign="auto"
    fxFlexFill
    > 
    <mat-card fxFlex="45" fxFlex.md="55" fxFlex.xs="75" class="mat-elevation">
      <mat-tab-group>
        <mat-tab label="Contact Us">
          <mat-card-content>
            <h1>How can we help you?</h1>
            <p>Our customer care team is around 24/7 to help.</p>
            <form 
              [formGroup]="contact"
              novalidate
            >
              <mat-form-field class="form-group">
                <input
                  matInput 
                  type="text"
                  placeholder="Nombre"
                  class="form-control"
                  formControlName="name"
                >
                <mat-error
                  *ngIf="!valid">
                  {{ nameErrorMessage() }}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-group">
                <input
                  matInput 
                  type="text"
                  placeholder="Apellido"
                  class="form-control"
                  formControlName="last"
                >
                <mat-error
                  *ngIf="!valid">
                    {{ lastErrorMessage() }}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-group">
                <input
                  matInput 
                  type="email"
                  placeholder="Email"
                  class="form-control"
                  formControlName="email"
                >
                <mat-error *ngIf="!valid">
                  {{ emailErrorMessage() }}
                </mat-error>
              </mat-form-field> 
              <mat-form-field class="form-group">
                <input 
                  matInput
                  type="text"
                  placeholder="Pregunta"
                  class="form-control"
                  formControlName="quest"
                  #tweet
                >
                <mat-hint align="end">
                  {{ tweet.value.length }} / 258
                </mat-hint>
                <mat-error *ngIf="!valid">
                  {{ questErrorMessage() }}
                </mat-error>
              </mat-form-field>   
              <br><br>
              <button color="cvn-accent-dark" mat-fab (click)="onSubmit(contact)"><i class="material-icons">send</i></button>
            </form>
          </mat-card-content>
        </mat-tab>
        <mat-tab label="FAQs">
              <mat-card-content>
                  <h1>Hello FAQs</h1>
                  <mat-accordion>
                      <mat-expansion-panel>
                          <mat-expansion-panel-header>
                              <mat-panel-title>
                                  I only speak Spanish. Will it work on platanos?
                              </mat-panel-title>
                          </mat-expansion-panel-header>
                          <p>yes it works very well on pantalones</p>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                          <mat-expansion-panel-header>
                              <mat-panel-title>
                                  My bananas have stopped talking to me. What now?
                              </mat-panel-title>
                          </mat-expansion-panel-header>
                          <p>Get some pomegranates. They are excellent conversationalists. They blow bananas out of the water!</p>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                          <mat-expansion-panel-header>
                              <mat-panel-title>
                                  Does it only come in yellow?
                              </mat-panel-title>
                          </mat-expansion-panel-header>
                          <p>Actually, it comes in several different colors: Canary, Lemon Chiffon, Goldenrod, Mustard, Daffodil, Old Yeller, Saffron, I Am Curious (Yellow), Pale Gold, and Blue, though the blue has a very, very strong yellow hue to it, and is nicknamed Yellow. </p>
                      </mat-expansion-panel>
                  </mat-accordion>
              </mat-card-content>
        </mat-tab>
      </mat-tab-group>    
  </mat-card>
</div>
