<mat-toolbar class="mat-elevation">
  <mat-toolbar-row>
    <img src="../assets/isotipo.png">
    <button mat-button routerLink="">Convini</button>
    <span class="spacer"></span>
    <button mat-button routerLink="contact">Contact Us</button>
    <button mat-button routerLink="login"><mat-icon>account_circle</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>