@import '~sass/_variables';

mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    img {
        height: 45px;
        width: 45px;
        padding: 0 0 0 16px;
    } 
}
.mat-elevation {
    box-shadow: $cvn-primary-light 0px 3px 5px -1px;
  }

button {
    margin-right: 2px;
    padding: 0 14px;
    color: $cvn-primary;
    font-size: 1em;
}

.spacer {
    flex: 1 1 auto;
}
