@import '~sass/_variables';

div {
    mat-tab-group {
        z-index: 4;
    }
    mat-card {
        margin-top: 2em;
        padding: 0px;
        box-shadow: $cvn-primary-light 0px 2px 12px -1px;
        h1 {
            text-align: center;
            color: $cvn-primary;
        }
        mat-card-content {
            padding: 2em;
        }
    }
}

table {
    width: 100%;
}

mat-form-field {
    width: 100%;
}
button {
    color: $cvn-accent-dark;
    
}

.mat-fab {
    position: fixed;
    margin: 1.2em 0 0 1.2em;
    box-shadow: $cvn-primary-light 0px 2px 15px -1px; 
}