<div 
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="center center"
    fxFlexAlign="auto"
    fxFlexFill
    > 
    <mat-card fxFlex="45" fxFlex.md="55" fxFlex.xs="75" class="mat-elevation">
      <mat-tab-group>
        <mat-tab label="Sign In">
          <mat-card-content>
            <h1>Create an Account</h1>
            <form 
              [formGroup]="login"
              novalidate
            >
              <mat-form-field class="form-group">
                <input
                  matInput 
                  type="text"
                  placeholder="Nombre"
                  class="form-control"
                  formControlName="name"
                >
                <mat-error
                  *ngIf="!valid">
                  {{ nameErrorMessage() }}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-group">
                <input
                  matInput 
                  type="email"
                  placeholder="Email"
                  class="form-control"
                  formControlName="email"
                >
                <mat-error *ngIf="!valid">
                  {{ emailErrorMessage() }}
                </mat-error>
              </mat-form-field> 
              <mat-form-field class="form-group">
                <input 
                  matInput
                  type="text"
                  placeholder="Pregunta"
                  class="form-control"
                  formControlName="passw"
                >
                <mat-error *ngIf="!valid">
                  {{ passwErrorMessage() }}
                </mat-error>
              </mat-form-field>   
              <br><br>
              <button color="cvn-accent-dark" mat-fab (click)="onSubmit(contact)"><i class="material-icons">send</i></button>
            </form>
          </mat-card-content>
        </mat-tab>
        <mat-tab label="Log In">
            <mat-card-content>
              <h1>Already a member?</h1>
              <p>Log into your account</p>
              <form 
                [formGroup]="login"
                novalidate
              >
                <mat-form-field class="form-group">
                  <input
                    matInput 
                    type="text"
                    placeholder="Nombre"
                    class="form-control"
                    formControlName="name"
                  >
                  <mat-error
                    *ngIf="!valid">
                    {{ nameErrorMessage() }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="form-group">
                  <input
                    matInput 
                    type="email"
                    placeholder="Email"
                    class="form-control"
                    formControlName="email"
                  >
                  <mat-error *ngIf="!valid">
                    {{ emailErrorMessage() }}
                  </mat-error>
                </mat-form-field> 
                <mat-form-field class="form-group">
                  <input 
                    matInput
                    type="text"
                    placeholder="Pregunta"
                    class="form-control"
                    formControlName="passw"
                  >
                  <mat-error *ngIf="!valid">
                    {{ passwErrorMessage() }}
                  </mat-error>
                </mat-form-field>   
                <br><br>
                <button color="cvn-accent-dark" mat-fab (click)="onSubmit(contact)"><i class="material-icons">send</i></button>
              </form>
            </mat-card-content>
          </mat-tab>
      </mat-tab-group>    
  </mat-card>
</div>
